body{
  background-color: pink;
  display: flex;
  background-image: url('./images/bg.JPG');
}
.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: rgb(204, 228, 231);
  padding: 0px 20px;
  border-radius: 10px;
  height: 100vh;
}
input,select{
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
  width: 400px;
}
select{
  width: 400px;
}
#survey-form{
  display: flex;
  flex-direction: column;
}